.trophy-animation {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 15%;
  height: 30%;
  padding: 20px;
  border-radius: 20px;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(32, 67, 69, 0.9);
}

.trophy-img {
  width: 120px;
  height: auto;
  align-self: center;
}

.trophy-username {
  margin-top: 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: white;
  align-self: center;
}

.animation-container {
  position: absolute;
  width: 100%;
  z-index: -100;
}

.animated-picture {
  position: absolute;
  width: 120px;
  height: auto;
}

.middle-left {
  left: 30%;
}

.middle-middle {
  left: 45%;
}

.middle-right {
  right: 30%;
}

.bottom-middle {
  top: 150px;
  left: 45%;
}
@keyframes skullPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.skull-animation {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 35%;
  animation: skullPulse 1s infinite;
}