@import 'styles/theme';

.headerMain {
    height: 475px;
    background: url("../images/skull_king_online.png") no-repeat center top;
}

.headerLobby {
    height: 475px;
    background: url("../images/skull_king.png") no-repeat center top;
}