@import 'styles/theme';

.lobby {


  &.container {
    min-height: 300px;
    @include center;
    flex-direction: column;
  }

  &.form {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    padding: 40px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    text-align: center;
    font-size: 32px;
    height: 70px;
    padding-left: 10px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }

  &.label {
    font-size: 48px;
    text-align: center;
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 1000;
  }

  &.button-container1 {
    text-align: center;
    justify-content: center;
  }

  &.button-container2 {
    text-align: center;
    justify-content: center;
    display: flex;
  }


  &.code {
    font-size: 100px;
    text-align: center;
    color: $textColor;
    margin-bottom: 20px;
    font-weight: 1000;
  }


  &.player-container-host {
    padding: 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    background: lighten($background, 5);
  }

  &.player-container-odd {
    padding: 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    background: lighten($background, 5);
  }

  &.player-container-even {
    padding: 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    background: lighten($background, 10);
  }

  &.user-list {
    list-style: none;
    padding-left: 0;
  }

  &.username {
    font-weight: 700;
    color: White;
    font-size: 56px;
  }
  &.host {
    margin-left: 125px;
    display: inline-block;
    color: White;
    font-size: 56px;
  }

  & p, h2 {
    margin: 0.5em 0;
  }
}