@import 'styles/theme';

.settings {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-content {
  background-color: rgb(215, 187, 97);
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.684);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
}

.settings-content-header {
  color: rgb(29, 28, 28);
  display: flex;
  align-self: center;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgba(50, 50, 50, 0.2);
  margin-bottom: 5px;
}

.settings-content-label {
  color: rgb(29, 28, 28);
  display: flex;
  align-self: center;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(50, 50, 50, 0.2);
}

.backgrounds-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.background-image {
  opacity: 0.85;

  &:hover {
    opacity: 1;
    border: 4px solid #1c9728c4;
    border-radius: 4px;
  }

  width: 120px;
  height: 80px;
  margin: 5px;
  border: 2px solid #626262;
  cursor: pointer;

  &.selected {
    border: 8px groove #4d4d4d;
    border-radius: 4px;
    opacity: 1;
  }
}

.slider-round,
.slider-player {
  width: 80%;
  height: 10px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.settings-value {
  color: #0275ff;
  font-size: 21px;
  font-weight: bold;
  margin-top: 10px;
}

.settings-space {
  height: 20px;
}

.settings-button-container {
  margin-top: 20px;
}

.background-skully_bg1 {
  background-image: url("../images/backgrounds/skully_bg1.png");
}

.background-skully_bg2 {
  background-image: url("../images/backgrounds/skully_bg2.png");
}

.background-skully_bg3 {
  background-image: url("../images/backgrounds/skully_bg3.png");
}

.background-skully_bg4 {
  background-image: url("../images/backgrounds/skully_bg4.png");
}

.background-skully_bg5 {
  background-image: url("../images/backgrounds/skully_bg5.png");
}

.background-skully_bg6 {
  background-image: url("../images/backgrounds/skully_bg6.png");
}

.toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #555;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}

.toggle-button .icon {
  margin-right: 5px;
}

.toggle-button.on {
  background-color: #5cb85c;
  color: #fff;
}

.toggle-button.off {
  background-color: #d9534f;
  color: #fff;
}